In [1]:
#question 2
stocks = ['goog','tsla','AMZN']

In [2]:
import numpy as np  
from pandas_datareader import data as dr 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pip install --upgrade pandas-datareader

Requirement already satisfied: pandas-datareader in /opt/conda/lib/python3.7/site-packages (0.10.0)
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (4.7.1)
Requirement already satisfied: requests>=2.19.0 in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (3.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.8)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Importing the data
PG = dr.DataReader('PG', data_source='yahoo', start='1995-1-1',end='2020-1-1')

In [5]:
#Displaying the head of the dataframe PG. head() displays first 5 rows by default. 
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014157
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949915
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837496
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853552
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821436

In [6]:
PG['Adj Close'].head()

Date
1995-01-03    8.014157
1995-01-04    7.949915
1995-01-05    7.837496
1995-01-06    7.853552
1995-01-09    7.821436
Name: Adj Close, dtype: float64

In [7]:
PG['Adj Close'].shift(1).head()

Date
1995-01-03         NaN
1995-01-04    8.014157
1995-01-05    7.949915
1995-01-06    7.837496
1995-01-09    7.853552
Name: Adj Close, dtype: float64

In [8]:
PG['Adj Close']/PG['Adj Close'].shift(1).head()

Date
1995-01-03         NaN
1995-01-04    0.991984
1995-01-05    0.985859
1995-01-06    1.002049
1995-01-09    0.995911
                ...
2019-12-24         NaN
2019-12-26         NaN
2019-12-27         NaN
2019-12-30         NaN
2019-12-31         NaN
Name: Adj Close, Length: 6294, dtype: float64

In [9]:
PG['Simple Return'] = (PG['Adj Close']/PG['Adj Close'].shift(1))-1  

print(PG['Simple Return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004089
                ...
2019-12-24    0.002562
2019-12-26    0.000000
2019-12-27    0.006948
2019-12-30   -0.012848
2019-12-31    0.003455
Name: Simple Return, Length: 6294, dtype: float64

In [10]:
daily_avg_returns = PG['Simple Return'].mean() # stocks return daily
daily_avg_returns

0.0005268566645095665

In [11]:
annual_avg_returns = PG['Simple Return'].mean() * 250
annual_avg_returns

0.13171416612739165

In [12]:
assets = ['goog', 'tsla', 'amzn']
assetsAdjClose = pd.DataFrame()
for a in assets:
    assetsAdjClose[a] = dr.DataReader(a, data_source='yahoo', start='2011-1-1',end='2021-1-1')['Adj Close']

In [13]:
assetsAdjClose.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2011-01-03 to 2020-12-31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   goog    2517 non-null   float64
 1   tsla    2517 non-null   float64
 2   amzn    2517 non-null   float64
dtypes: float64(3)
memory usage: 78.7 KB

In [14]:
assetsAdjClose.head()

                  goog   tsla        amzn
Date
2011-01-03  301.046600  5.324  184.220001
2011-01-04  299.935760  5.334  185.009995
2011-01-05  303.397797  5.366  187.419998
2011-01-06  305.604523  5.576  185.860001
2011-01-07  307.069031  5.648  185.490005

In [15]:
assetsAdjClose.tail()

                   goog        tsla         amzn
Date
2020-12-24  1738.849976  661.770020  3172.689941
2020-12-28  1776.089966  663.690002  3283.959961
2020-12-29  1758.719971  665.989990  3322.000000
2020-12-30  1739.520020  694.780029  3285.850098
2020-12-31  1751.880005  705.669983  3256.929932

In [16]:
assetsAdjClose.iloc[0]       #Gives the first row figures of the dataframe.

goog    301.046600
tsla      5.324000
amzn    184.220001
Name: 2011-01-03 00:00:00, dtype: float64

In [17]:
returns = (assetsAdjClose/assetsAdjClose.shift(1)) - 1       #calculating simple rate of return
returns.head()       #displaying first 5 rows of returns dataframe

                goog      tsla      amzn
Date
2011-01-03       NaN       NaN       NaN
2011-01-04 -0.003690  0.001878  0.004288
2011-01-05  0.011543  0.005999  0.013026
2011-01-06  0.007273  0.039135 -0.008324
2011-01-07  0.004792  0.012912 -0.001991

In [18]:
weightsDifferent = np.array([0.25, 0.5, 0.25])  #Note: the sum of the weights should be equal to 1.
annualReturns = returns.mean()*250

In [19]:
np.dot(annualReturns, weightsDifferent)  # R*WT

0.4542034176164449

In [20]:
portfolioDifferentWeights = str(round(np.dot(annualReturns, weightsDifferent)*100, 5)) + ' %'

In [21]:
print("The cumulative return for portfolio with different weights is ", portfolioDifferentWeights)

The cumulative return for portfolio with different weights is  45.42034 %

q5
google portfolio val drop is very low and and tsla and amzn are same but tsla at one point overcome amzn and the cumutative return for portfoilio weights =45